
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

    <div class="form-wrapper">
        <form method="POST" action="/login">
            <h3 class="form-heading">Login <a href="{{ url_for('main.index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>

            <div class="form-group">
                <label for="name">Email</label>
                <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="">

            </div>
            <div class="form-group">
                <label for="name">Password</label>
                <input class="form-control" type="password" name="password" placeholder="Your Password" autofocus="">

            </div>

            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <input type="submit" value="Login" style="background: #008751; border-color: #008751; " class="btn btn-primary btn-md">
        </form>
    </div>


    </div>

{% endblock %}